.board {
  margin-top: 50px;
  width: 100%;
  height: 900px;
  padding: 15px 150px;
}
.board .boardName {
  width: 400px;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}
.board .boardName .bar {
  margin-top: 2px;
  width: 100%;
  height: 3px;
  background: #AEF2D9;
  border-radius: 1.5px;
}
.board .searchBox {
  position: absolute;
  top: 0;
  right: 0;
  width: 230px;
  height: 40px;
  padding: 5px;
  border: 1px solid #42594A;
  border-radius: 30px;
  overflow: hidden;
  flex-wrap: wrap;
  box-shadow: inset 0px 0px 3px #42594A;
  transition: 0.2s linear;
}
.board .searchBox.onFocus {
  box-shadow: inset 0px 0px 3px #AEF2D9;
}
.board .searchBox input {
  height: 100%;
  width: 160px;
  border: none;
  outline: none;
  font-size: 16px;
}
.board .searchBox .searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.board .searchBox .searchIcon.onFocus svg path {
  fill: #AEF2D9;
  stroke: #42594A;
  stroke-width: 2;
}
.board .searchBox .searchIcon svg path {
  fill: #42594A;
  stroke: #42594A;
  stroke-width: 2;
  transition: 0.2s linear;
}
.board .attention {
  margin-top: 30px;
  width: 100%;
  height: 300px;
  border-radius: 20px;
  padding: 30px;
  background-color: #F2EFE9;
  box-shadow: 1px 1px 5px #42594A;
}
.board .attention .inner .name {
  justify-content: flex-start;
}
.board .attention .inner .name .logoImg {
  width: 51.5px;
  height: 40px;
  margin-right: 10px;
}
.board .attention .inner .name .text {
  font-size: 28px;
  font-weight: bold;
}
.board .attention .inner .description {
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  font-size: 20px;
  line-height: 30px;
}
.board .selectArea {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 50px;
  justify-content: flex-start;
}
.board .selectArea .box {
  padding: 5px 10px;
  border-radius: 20px;
  overflow: hidden;
  background-color: #F2EFE9;
  box-shadow: 1px 1px 3px #42594A;
}
.board .selectArea select {
  height: 100%;
  outline: none;
  font-size: 18px;
  padding: 5px 10px;
  margin-right: 20px;
  border: none;
  font-weight: bold;
  background-color: #F2EFE9;
}
.board .selectArea select option {
  font-weight: bold;
  margin: 5px;
}
.board .selectArea select option:checked {
  font-weight: bold;
}
.board .selectArea .searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.board .selectArea .searchIcon svg path {
  fill: #42594A;
  stroke: #42594A;
  stroke-width: 2;
  transition: 0.2s linear;
}
.board .selectArea .write {
  position: absolute;
  top: 0px;
  right: 0;
  height: 80%;
  width: 80px;
  font-size: 16px;
  font-weight: bold;
}
.board .boardList {
  width: 100%;
  height: 800px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.board .boardList .card {
  position: relative;
  width: 250px;
  height: 250px;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 2px 2px 10px #42594A;
}
.board .boardList .card:hover .name {
  opacity: 1;
}
.board .boardList .card img {
  width: 100%;
  height: 100%;
  transition: 0.3s linear;
}
.board .boardList .card img:hover {
  transform: scale(1.05);
}
.board .boardList .card .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30%;
  opacity: 0;
  transition: 0.3s linear;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.6) 50%, rgba(255, 255, 255, 0) 100%);
  font-size: 20px;
  font-weight: bold;
}
.board .pagination {
  width: 100%;
  height: 50px;
  font-size: 18px;
}
.board .pagination span {
  display: inline-block;
  margin: 0 50px;
  font-weight: bold;
}
.board .pagination span:nth-of-type(2) {
  margin: 0;
  margin-right: 9px;
}

/*# sourceMappingURL=findnew.css.map */
