$eventColor: #AEF2D9;

// header
header {
  position: relative;
  width: 100%;
  height: 80px;
  padding: 35px 150px 15px;
  z-index: 99;
  background-color: rgb(242, 239, 233);
  background: linear-gradient(180deg, rgba(242, 239, 233, .9) 30%, rgba(255,255,255,0) 100%);

  .loginBox {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: flex-end;

    .signIn,
    .signUp {
      width: 100px;
      height: 30px;
      padding: 10px;
      background-color: #AEF2D9;
      box-shadow: inset 0px 0px 5px #42594A;
      border-radius: 0 0 20px 20px;
      cursor: pointer;
      transition: .2s linear;

      &:hover {
        background: #fff;
        transform: scale(1.05);
      }
    }
    .signIn {
      margin-right: 5px;
    }
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      cursor: pointer;
      .logoText {
        cursor: pointer;
        font-size: 25px;
        font-weight: bold;
        margin-right: 10px;
        text-shadow: 2px 2px 5px #aef2d981;
      }// text

      .logoImg {
        cursor: pointer;
        width: 60px;
        height: 46px;
      }
    }// logo

    .menu {
      li {
        margin-right: 20px;
        font-size: 20px;
        cursor: pointer;
        text-shadow: 1px 1px 5px #D9D3CC;
        transition: .2s linear;
        font-weight: bold;
        &:hover{
          .bar {
            width: 100%;
            box-shadow: inset 0px 0px 1px #42594A;
          }
        }

        &:nth-of-type(6) {
          margin-right: 0;
        }

        .bar {
          margin-top: 2px;
          width: 0px;
          height: 3px;
          background: $eventColor;
          border-radius: 1.5px;
          transition: .2s linear;
        }
      }
    }
  }
}// header